/*========================================================================*/

/* ///////////////////////////////////////////////////////////////////// 
// 03 - Preloader
/////////////////////////////////////////////////////////////////////*/
/* preloader scc starts */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #00974c;

  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  z-index: 999999;
}
/* preloader style ends */

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 background: transparent;
}

html {
     scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #188c91;
    border-radius: 10px;
}

.hero{
    position: relative; 
    min-height: 100vh;
    width: 100%;
}

.hero-navbar{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  min-height: 8vh;
}

.hero-navbar img{
  width: 44px;
  border-radius: 50%;
}

.hero-navbar ol{
  display: flex;
  list-style: decimal-leading-zero;
  gap: 32px;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.hero-navbar ol li{
  color: #2E7869 !important;
  text-transform: uppercase;
}
.hero-navbar ol li a{
    position: relative;
    text-decoration: none !important;
    color: #ffffff;
}

.blogs-li{
    color: #ff7518 !important;
    border: 1px solid #307A6B;
    border-radius: 2px;
    margin: 0 10px;
    padding: 1px 8px;
    text-decoration: none !important;
    font-size: 13px;
    text-transform: uppercase;
 }

.hero::before{
  content: "";
  background-image: url('../img/alternative-background.png');
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.82;
}

.hero-container{
  width: 85%;
  min-height: 92vh;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap-reverse; */
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.hero-left{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px
}

.hero-title{
  display: flex;
  flex-direction: column;
  opacity: 0.65;
}
  
.hero-title span{
    position: relative;
    color: #fafafa;
    width: fit-content;
    background-color: #00947c;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-bottom-left-radius: 20px; */
    animation-name: slide-left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    left: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

.hero-title h1{
  position: relative;
  color: #ffffff;  
  font-size: 6rem;
}

.hero-title h4{
  position: relative;
  color: #ffffff;  
  font-size: 3rem;
  font-family: 'cursive sans-serif';
}

.hero-info{
  list-style: none;
  color: #ff7518;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-info li{
  font-weight: 600;
  display: flex;
  gap: 8px;
  align-items: center;
}

.hero-info li a{
  color: #ffffff;
  text-decoration: none !important;
}

.resume-a{
    color: #ff7518 !important;
    border: 1px solid #307A6B;
    border-radius: 2px;
    margin: 2px 0 0 0px;
    padding: 2px 6px;
    text-decoration: none !important;
 }

.hero-right{
  padding: 10px;
  position: relative;
  text-align: center;
}

.hero-right img{
  width: 65%;
  background-size: cover;
  border: 17px solid #a3a4a3;
  border-radius: 50%;
}

.hero-socials{
  position: relative;
  list-style: none;
  color: #ff7518;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.hero-socials li{
  padding: 6px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #a3a4a3;
  border-radius: 50%;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.hero-socials li a{
  opacity: 0.5;
  width: 18px;
  color: #ffffff;
  text-decoration: none !important;
}

.hero-socials li a:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1200px){
  .hero-left h1{font-size: 3em;}
  .hero-left h4{font-size: 1.8em;}
}

@media screen and (max-width: 1000px){
  .hero-left h1{font-size: 2.2em;}
  .hero-left h4{font-size: 1.6em;}
}

@media screen and (max-width: 900px){
  .hero-container{flex-direction: column-reverse}
}
/* hero section ends */

/* About section start */

.about{
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  padding: 2% 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  background: #f3f3f3;
  margin-bottom: -25px;
}

.about img{
  min-width: 380px;
  max-width: 42%;
  padding: 5px;
}

.about-info{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #efefef;
  padding: 24px;
  border-radius: 8px;
  min-width: 350px;
  max-width: 48%;
  margin-bottom: 25px;
  line-height: 26px;
}

.hello{
  font-size: large;
}
.about-info p{
  font-size: 16px;
  word-break: break-word;
  word-spacing: 1px;
}

.about .skills{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  gap: 8px;
}

.about .skills .skill{
  padding: 2px 8px;
  border: 1px solid #00947C;
  border-radius: 4px;
}

.textme-button{
  padding: 6px 16px;
  background: #00947c;
  color: #fff;
  border-radius: 50px;
  border-width: 0;
  font-family: sans-serif;
  margin-top: 8px
}

.textme-button:hover{
  background-color: #06aa90;
}

/* about css ends here */

/* works css starts here.. */

.works{
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 2% 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.works h1{
  color: #FFFFFF;
  font-family: monospace;
  font-weight: 600;
  color: #00947C;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.learning{
  opacity: 0.4;
  color: #ff7518;
  margin-right: 10px;
}

.works-container{
  /* background: #efefef; */
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  min-height: 625px;
  transition: 200ms ease-in;
}

.works-container ul{
  display: flex;
  list-style: none;
  gap: 8px;
  text-transform: lowercase;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.works-container ul li{
  color: #00947C;
  padding: 2px 4px;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #efefef;
  cursor: pointer;
  text-transform: uppercase;
}

.works-container ul li:hover{
  /* background: #ececec; */
  border-bottom: 2px solid #00947C;
  color: #ff7518;
}

.works-container ul li.selected{
  /* background: #ececec; */
  border-bottom: 2px solid #00947C;
  color: #ff7518;
}

.works-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.works-card{
  width: 348px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 3px 5px 10px 5px #ddd;
  background: #e8e8e8;
  overflow: hidden;
}

.works-card img{
  width: 100%;
  object-fit: cover;
  height: 120px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transition: 200ms ease-in-out;
  /* border-bottom: 1px solid #f6f8f7; */
}

.works-card img:hover{
  transform: scale(1.2);
}

.card-content{
  height: calc(100% - 140px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.card-content-info{
  margin-top: 8px;;
}

.card-content-info h4{
  font-size: 16px;
}

.card-content h5{
  font-family: 'Circular-Loom sans-serif';
}

.card-content p{
  /* text-align: center; */
  color: rgb(115 113 111);
  font-family: "FontAwesome sans-serif";
  font-size: 15px;
}

.card-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card-links a{
  margin-right: 8px;
  cursor: pointer;
  color: #fff;
  text-transform: CAPITALIZE;
  font-size: 14px;
  color: #00974c;
  font-weight: 500;
  text-decoration: none;
}

.card-links a:hover{
  opacity: 0.75;
}